* {
    margin: 0;
}

body {
    background: #fcfcfc;
}

#titulo,
.subtitulo,
.titulo-artigo {
    color: blue;
}

.titulo-artigo {
    font-size: 16px;
    margin: 0 0 15px
}

.post {
    background-color: #ffffff;
    padding: 15px;
    border: 3px solid blue;
    margin: 15px 10px 15px 10px
}

.corpo-texto {
    margin-top: 15px;
}